@mixin button-reset {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

@mixin p-reset {
   margin: 0;
   padding: 0;
}

@mixin ul-reset {
   margin: 0;
   padding: 0;
   list-style: none;
}

@mixin li-reset {
   margin: 0;
}

@mixin a-reset {
   color: inherit;
   text-decoration: inherit;
}