@use '../../sass-utils/resets.module.scss';

.top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 45px;
}

.logo {
   flex-shrink: 0;
}

.user {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin-top: 8px;
}

.userName {
   @include resets.a-reset;
   display: block;
   position: relative;
   margin-right: 6px;
   margin-right: auto;
   font-family: Arimo;
   font-size: 16px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: -0.015em;
   text-align: left;
   color: white;


   &NotLogged {
      padding-left: 30px;
      &::before {
         position: absolute;
         display: block;
         content: '';
         top: 7px;
         left: 0;
         width: 30px;
         height: 30px;
         background-image: url(../../../public/img/login.svg);
         background-repeat: no-repeat;
      }
   }
}

.userImage {
   width: 35px;
   height: 35px;
   border-radius: 100%
}

.navList {
   @include resets.ul-reset;
   margin-top: 40px;
   display: flex;
   flex-direction: column;
}

.navLi {
   @include resets.li-reset;
   position: relative;
   margin-bottom: 45px;
}

.navLink {
   @include resets.a-reset;
   display: block;
   padding-left: 50px;
   font-family: Arimo;
   font-size: 23px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: -0.015em;
   text-align: left;
   color: white;

   &::before {
      position: absolute;
      left: 0px;
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
   }

   &Profile::before {
      background-image: url('../../../public/img/user.svg');
   }

   &Explore::before {
      background-image: url('../../../public/img/hashtag.svg');
   }
   
   &Notifications::before {
      background-image: url('../../../public/img/message.svg');
   }
   
   &Home::before {
      background-image: url('../../../public/img/home.svg');
   }

}


