@use './sass-utils/variables.module.scss';
@import-normalize;


body,
html {
   padding: 0;
   margin: 0;
}

body {
   padding-top: 5px;
   height: 100vh;
   overflow: hidden;
   background-color: variables.$theme-color;
}

img {
   max-width: 100%;
   height: auto;
}

.container {
   width: 1476px;
   min-height: 100vh;
   padding-bottom: 20px;
   margin: 0 auto;
}

.page {
   display: grid;
   grid-template-columns: 245px 1fr;
   grid-gap: 25px;
}

.visuallyHidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

